---
import { colors } from "../lib/colors";
import Layout from "../layouts/Layout.astro";
import ColorCard from "../components/ColorCard.astro";
---

<Layout title="Ducolors - Vintage guitar colors">
	<header class="text-4xl flex flex-col">
		<div>
			<span class="font-black">Duco</span><span class="italic">lors</span>
		</div>
		<quote class="text-slate-500 text-xs">Vintage guitar colors</quote>
	</header>
	<main>
		<div class="flex flex-col gap-10">
			<div class="grid grid-cols-1 gap-6 md:grid-cols-4 sm:grid-cols-2">
				{
					colors.map(({ name, hex, key }) => (
						<ColorCard
							name={name}
							currentColor={hex}
							color={hex}
							key={key}
						/>
					))
				}
			</div>
		</div>
	</main>
</Layout>

<style>
	main,
	header {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: black;
		line-height: 1.6;
	}
</style>
