---
import copyIcon from "../assets/copy.svg";

interface Props {
	name: string;
	color: string;
	currentColor: string;
}

const { name, color, currentColor } = Astro.props;
---

<div
	class="flex flex-col justify-center border border-slate-100 p-2 bg-white gap-4 items-center text-base"
>
	<span class="font-semibold">
		{name.toUpperCase()}
	</span>
	<div style={{ backgroundColor: color }} class="w-28 h-28 rounded-md"></div>
	<div class="flex gap-4 items-center">
		<>
			<div class="select-none">{currentColor}</div>
			<img width="18" src={copyIcon.src} class="hover:cursor-pointer" />
		</>
	</div>
</div>
