---
import copyIcon from "../assets/copy.svg";

interface Props {
	name: string;
	color: string;
	currentColor: string;
	key: string;
}

const { name, color, currentColor, key } = Astro.props;
---

<div
	class="flex flex-col justify-center border border-slate-100 p-2 bg-white gap-4 items-center text-base"
>
	<span class="font-semibold uppercase">
		{name}
	</span>
	<div style={{ backgroundColor: color }} class="w-28 h-28 rounded-md"></div>
	<div class="flex gap-4 items-center">
		<>
			<div class="select-none">{currentColor}</div>
			<button class={`copy-button`} data-key={key}>
				<img
					width="18"
					src={copyIcon.src}
					class="hover:cursor-pointer"
				/>
			</button>
		</>
	</div>
</div>

<script>
	import { colors } from "../lib/colors";

	document.querySelectorAll(".copy-button").forEach((button) => {
		button.addEventListener("click", async (event) => {
			const target = event.currentTarget as HTMLElement;
			const key = target.getAttribute("data-key");
			const color = colors.find((c) => c.key === key)?.hex || "";
			try {
				await navigator.clipboard.writeText(color);
			} catch (error) {
				console.error("Error al copiar el color:", error);
			}
		});
	});
</script>
